In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [2]:
# pulls our ad data into a DataFrame
file_path = './impressions_one_hour.csv'
all_impressions_one_hour = pd.read_csv(file_path)
all_impressions_one_hour.head()

,Unnamed: 0,log_entry_time,impression_id,partner_id,campaign_id,ad_group_id,private_contract_id,audience_id,creative_id,ad_format,...,device_make,device_model,rendering_context,carrier_id,temperature_in_celsius_name,temperature_bucket_start_in_celsius_name,temperature_bucket_end_in_celsius_name,impression_placement_id,file_date,advertiser_id
0,0,2020-09-09 04:29:56.000,57f3aa7a-b276-47f7-a289-c78177691746,wsc5r0j,5txgufo,nudgj9z,NaN,8jx7gvs,4rpiqbve,320x50,...,Xiaomi,Redmi S2,InApp,577.0,NaN,NaN,NaN,6a801e6f532e4aecb12316cbb04ebd30,2020-09-09,3ysyqec
1,1,2020-09-09 04:32:03.000,2ecfdbff-b25a-446f-af7c-ffd62baefb02,wsc5r0j,wwvbnz8,y7xgocb,NaN,lzyn28h,mqxamjr3,320x50,...,Samsung,SM-J500M,InApp,503.0,NaN,NaN,NaN,6a801e6f532e4aecb12316cbb04ebd30,2020-09-09,3ysyqec
2,2,2020-09-09 04:33:43.000,b6e82c65-2521-45fe-94d5-6c9d37060e84,wsc5r0j,vh2uh6e,8z30tgg,NaN,8w2jhha,dfmquuj0,300x50,...,Apple,iPhone,InApp,407.0,NaN,NaN,NaN,c1db878176df4e508d777a27c3412bb1,2020-09-09,3ysyqec
3,3,2020-09-09 04:30:48.000,9d26efa9-0cef-48d6-9619-4e73ce0a4829,wsc5r0j,vh2uh6e,8z30tgg,NaN,8w2jhha,x8c7u827,320x50,...,Apple,iPhone,InApp,NaN,NaN,NaN,NaN,NaN,2020-09-09,3ysyqec
4,4,2020-09-09 04:31:46.000,364a7c77-96ef-473c-9675-5e8ad2a0dbc1,wsc5r0j,f6l0r6n,3l27ron,NaN,8jx7gvs,w4jiczfi,300x50,...,Samsung,SM-G970F,InApp,NaN,NaN,NaN,NaN,NaN,2020-09-09,3ysyqec

In [3]:
# drops "unnecessary" columns
impressions_cleaned = all_impressions_one_hour.drop(columns=['Unnamed: 0', 'log_entry_time', 'partner_id', 
                                                             'private_contract_id', 'creative_id', 'ad_format',
                                                             'frequency', 'supply_vendor_publisher_id', 'deal_id',
                                                             'site', 'referrer_categories_list', 'fold_position',
                                                             'user_hour_of_week', 'ip_address', 'td_id', 'metro', 
                                                             'recency', 'language_code', 'media_cost', 
                                                             'fee_feature_cost', 'data_usage_total_cost', 
                                                             'ttd_cost_in_usd', 'partner_cost_in_usd', 
                                                             'advertiser_cost_in_usd', 'device_id', 
                                                             'processed_time', 'rendering_context', 
                                                             'temperature_in_celsius_name', 
                                                             'temperature_bucket_start_in_celsius_name', 
                                                             'temperature_bucket_end_in_celsius_name', 
                                                             'impression_placement_id', 'file_date', 
                                                             'advertiser_id'])
impressions_cleaned.head()

,impression_id,campaign_id,ad_group_id,audience_id,supply_vendor,user_agent,country,region,city,device_type,os_family,os,browser,latitude,longitude,zip_code,device_make,device_model,carrier_id
0,57f3aa7a-b276-47f7-a289-c78177691746,5txgufo,nudgj9z,8jx7gvs,mopub,Mozilla/5.0 (Linux; Android 8.1.0; Redmi S2 Bu...,Spain,A CoruÃ±a,Sada,4,6,154,15,43.35,-8.25,15160,Xiaomi,Redmi S2,577.0
1,2ecfdbff-b25a-446f-af7c-ffd62baefb02,wwvbnz8,y7xgocb,lzyn28h,mopub,Mozilla/5.0 (Linux; Android 6.0.1; SM-J500M Bu...,Brazil,Santa Catarina,SÃ£o Miguel do Oeste,4,6,136,15,-26.71,-53.51,89900,Samsung,SM-J500M,503.0
2,b6e82c65-2521-45fe-94d5-6c9d37060e84,vh2uh6e,8z30tgg,8w2jhha,mopub,Mozilla/5.0 (iPhone; CPU iPhone OS 13_5_1 like...,France,Cote d'Or,Aiserey,4,5,168,15,47.17,5.16,21110,Apple,iPhone,407.0
3,9d26efa9-0cef-48d6-9619-4e73ce0a4829,vh2uh6e,8z30tgg,8w2jhha,google,Mozilla/5.0 (iPhone; CPU iPhone OS 13_6_1 like...,France,Seine-Maritime,Rouen,4,5,169,15,49.39,1.02,76000,Apple,iPhone,NaN
4,364a7c77-96ef-473c-9675-5e8ad2a0dbc1,f6l0r6n,3l27ron,8jx7gvs,google,Mozilla/5.0 (Linux; Android 10; SM-G970F Build...,Germany,Bavaria,Seubersdorf,4,6,101,15,49.16,11.62,92358,Samsung,SM-G970F,NaN

In [4]:
france_impressions = impressions_cleaned.copy()[impressions_cleaned['country'] == 'France']
france_impressions.dropna(subset=['city'], inplace=True)
france_impressions.loc[:, 'city'] = france_impressions['city'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
france_impressions['city'].value_counts()

Paris             2743
Lyon               966
Bordeaux           721
Marseille          573
Toulouse           572
                  ...
Beautor              1
Monts                1
Verberie             1
Godewaersvelde       1
Argol                1
Name: city, Length: 5008, dtype: int64

In [5]:
# French city population distribution measured by ad frequency
ad_city_data = pd.DataFrame(france_impressions['city'].value_counts(normalize=True)).reset_index()
ad_city_data.rename(columns={"index": "name", "city": "ad_frequency"}, inplace=True)

# true French city population distribution from 2020 (https://worldpopulationreview.com/countries/cities/france)
france_city_pops = pd.read_csv('./france_city_pops.csv')
france_city_pops.drop(columns=['location'], inplace=True)
total_pop = france_city_pops['pop'].sum()
france_city_pops['proportion'] = france_city_pops['pop'] / total_pop
france_city_pops.drop(columns=['pop'], inplace=True)

In [6]:
ad_city_data.set_index('name', inplace=True)
france_city_pops.set_index('name', inplace=True)

joined = pd.concat([ad_city_data, france_city_pops], axis=1, join='outer', sort=True)
top_100 = joined.sort_values(by='ad_frequency', ascending=False)[:100]
top_100.rename(columns={"ad_frequency": "observed frequency", "proportion": "expected frequency"}, inplace=True)
top_100 # top 100 cities based on the ad data

               observed frequency  expected frequency
Paris                    0.107383            0.088357
Lyon                     0.037817            0.019514
Bordeaux                 0.028226            0.009579
Marseille                0.022432            0.032839
Toulouse                 0.022393            0.017892
...                           ...                 ...
Evreux                   0.001253            0.002388
Saint-Quentin            0.001253            0.002289
Venissieux               0.001253            0.002379
Anglet                   0.001214            0.001680
La Rochelle              0.001214            0.003174

[100 rows x 2 columns]

In [8]:
# device distribution comparison

# French device distribution measured by ad frequency
ad_device_data = pd.DataFrame(france_impressions['device_make'].value_counts(normalize=True)).reset_index()
ad_device_data.rename(columns={"index": "device_make", "device_make": "ad_frequency"}, inplace=True)

# true device distribution in France: https://gs.statcounter.com/vendor-market-share/mobile/france
france_device_dist = pd.read_csv('./france_device_dist.csv')
france_device_dist.rename(columns={"Device Vendor": "device_make", "Market Share Perc. (Sept 2020)": "true_frequency"}, inplace=True)
france_device_dist['true_frequency'] = france_device_dist['true_frequency'] / 100

In [9]:
ad_device_data.set_index('device_make', inplace=True)
france_device_dist.set_index('device_make', inplace=True)

joined2 = pd.concat([ad_device_data, france_device_dist], axis=1, join='outer', sort=True)
joined2.rename(columns={"ad_frequency": "observed frequency", "true_frequency": "expected frequency"}, inplace=True)
joined2.sort_values(by='observed frequency', ascending=False)[:10]

           observed frequency  expected frequency
Apple                0.423974              0.2598
Samsung              0.316904              0.3710
Huawei               0.146453              0.1798
Xiaomi               0.040009              0.0750
Sony                 0.011236              0.0140
Wiko                 0.009513              0.0072
Asus                 0.007869              0.0078
Crosscall            0.005637              0.0005
Oppo                 0.005402              0.0140
OnePlus              0.004894              0.0097